<div class="tab-pane fade show active" id="nav-current" role="tabpanel"
aria-labelledby="nav-home-tab">

<div class="h-1 color-h"><span class="text-h"
    >Current Consumption</span></div>

<div class="row">
    <div class="col-12">
        <div class="row background-white">
            <div class="col-1">
                <img class="img-cons" src="../../../assets/img/consumption-logo.png">
            </div>
            <div class="col-5 mT-10">
                <h2 class="cons-h">Total Consumption</h2>
                <h4 class="cons-h4">Verbrauch <span *ngIf="totalEnergyConsumed"
                        class="span-h4"> {{totalEnergyConsumed}} W </span></h4>
            </div>
            <!-- <div class="col-6 text-right">
                <button type="button" class="btn btn-end-contract btn-sell"
                        data-toggle="modal" data-target="#sell-energy">Open To
                    Sell Others
                </button>
            </div> -->

            <div class="col-12 mT-20">
                <div id="consumption" class="consumption-chart"></div>
            </div>


            <div class="col-12 mT-50">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Energy Consumed</th>
                            <th scope="col">TimeStamp</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let energy of energies; let i=index">

                            <td>{{user}}</td>
                            <td>{{energy}} KWH</td>
                            <td>{{timestamps[i]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



       </div>
   </div>
</div>
</div>
