<!-- <app-navbar></app-navbar> -->
  <ng4-loading-spinner> </ng4-loading-spinner>
  <flash-messages></flash-messages>
 <!-- <app-user-panel-navbar></app-user-panel-navbar> -->
  <router-outlet></router-outlet>


