<agm-map #AgmMap *ngIf="markers.length!=0" [latitude]="markers? markers[0].latitude : 0" 
[longitude]="markers? markers[0].longitude : 0" (idle)="mapIdle()"  [mapTypeId]="'hybrid'"
 (mapReady)="mapReady($event)" >
  <agm-marker *ngFor="let p of markers" [latitude]="p.latitude" [longitude]="p.longitude"  (markerClick)="clickedMarker(p)" [iconUrl]="'http://localhost:4200//assets/img/geopower.png'">
      <agm-info-window [disableAutoPan]="false" #infoWindow   (mouseOver)="onMouseOver(p)">


        <div style="padding-left:25px;">
          <h2>{{p.name}}</h2>
    
          <table class="table" style=" max-width: 400px; min-width: 400px;">
            <thead>
              <tr>
                <th>Location</th>
                <th>{{p.latitude}},{{p.longitude}}</th>
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Grid Bill</td>
                <td>{{p.gridBill}}</td>
              </tr>
              <tr class="success">
                <td>price Per KWH</td>
                <td>{{p.pricePerKWH}}</td>
              </tr>
              <tr class="danger">
                <td>Total Bill</td>
                <td>{{p.totalBill}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>  
    



    </agm-info-window>
  </agm-marker>
</agm-map>
