<agm-map #AgmMap *ngIf="markers.length!=0" [latitude]="markers? markers[0].lat : 0" 
[longitude]="markers? markers[0].lng : 0" (idle)="mapIdle()"  [mapTypeId]="'hybrid'"
 (mapReady)="mapReady($event)" >
  <agm-marker *ngFor="let p of markers" [latitude]="p.lat" [longitude]="p.lng"  (markerClick)="clickedMarker(p)" [iconUrl]="p.type == 'PRODUCER' ? 'http://localhost:4200/assets/img/geopower.png' : p.type == 'CONSUMER' ? 'http://localhost:4200/assets/img/gas.png' : 'http://localhost:4200/assets/img/bio.png'">
      <agm-info-window [disableAutoPan]="false" #infoWindow   (mouseOver)="onMouseOver(p)">


        <div style="padding-left:25px;">
      <h2>{{p.myName}}</h2>

      <table class="table" style=" max-width: 400px; min-width: 400px;">
        <thead>
          <tr>
            <th>Location</th>
            <th>{{p.lat}},{{p.lng}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Distace from grid</td>
            <td>{{p.distance}}</td>
          </tr>
          <tr class="success">
            <td>Location Name</td>
            <td>{{p.locationname}}</td>
          </tr>
          <tr class="danger">
            <td>Balance</td>
            <td>{{p.balanceamount}}</td>
          </tr>
          <tr class="info">
            <td>Price per KWH</td>
            <td *ngIf="p.priceperkwh">{{p.priceperkwh}}</td>
              <td *ngIf="!p.priceperkwh">Not Applicable</td>
          </tr>


        </tbody>
      </table>
    </div>



    </agm-info-window>
  </agm-marker>
</agm-map>
