<main class="main-content bgc-grey-100">
        <div id="mainContent">
            <div class="row gap-20 masonry pos-r height-100">
                <div class="col-md-12 ">
                    <div class="row height-100">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row background-white">

                                        <div class="col-4 offset-4 peer pX-20 pY-50 border-charts2 h-100 bgc-white scrollable pos-r text-center Aligner-item ">
                                            <a href="#"><img class="u-profile-img" src="img/default.png">
                                                <div><i class="fa fa-pencil fa-user-profile" aria-hidden="true"></i>
                                                </div>
                                            </a>

                                            <h4 class="fw-400 c-grey-900 mB-20 login margin-p-img">John Doe</h4>
                                            <p class="sign-in-text">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry. Lorem Ipsum has been the industry's
                                                standard </p>

                                            <h4 class="user-info">House No 3, Street No 33</h4>
                                            <h4 class="user-info"> +92345654321 </h4>
                                            <h4 class="user-info"> Power Storage: <span class="power-text">On</span>
                                            </h4>
                                            <div class="pY-20">
                                                <a href="#">
                                                    <button type="button" class="btn btn-edit">Edit</button>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>