body {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
}

.fs-it-btn {
  border: 1px solid #2c9deb;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}
.fs-it-btn-vertical-line {
  text-align: center;
  padding: 4px 0 5px 10px;
  margin-left: 10px;
  border-left: 1px solid #55b4ff;
}
.bg-blue {
  background-color: #2c9deb;
}
.text-uppercase {
  text-transform: uppercase;
}

.m-b-20 {
  margin-bottom: 20px;
}

.btn:hover,
.btn:focus,
.btn:active {
  cursor: pointer;
}
.login {
  color: #535050;
}
.logo {
  margin-bottom: 22px;
  width: 200px;
}

.sign-in-text {
  color: #8a8888;
  font-size: 12px;
  line-height: 16px;
}
.sign-in-input {
  border: none;
  border-bottom: 1px solid #d9d8d8;
  border-radius: 0;
  padding-bottom: 20px;
  font-size: 12px;
  color: #535050;
}

.sign-in-input:focus,
.sign-in-input:active,
.sign-in-input:hover {
  box-shadow: none;
}

.btn-sign-in {
  padding: 10px 80px;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 50px;
  color: #535050;
  font-weight: 600;
}
select.form-control:not([size]):not([multiple]) {
  height: inherit;
  padding-left: 9px;
}
select option {
  color: #535050;
}
.forget-pass {
  color: #706e6f;
  font-size: 12px;
}
.footer {
  /* position: fixed;
    left: 0;
    bottom: 0; */
  width: 100%;
  background-color: #fff;
  color: #838181;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #efefef;
  padding-top: 20px;
}
.main-content {
  padding: 64px 0px 0px 0px;
  min-height: calc(100vh - 61px);
}
div.nav-tabs.nav-fill a.nav-item {
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #403e3e;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #efefef;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  padding: 25px 10px 15px 10px;
}

div.nav-tabs.nav-fill a.nav-item:after {
  content: url("../img/arrow.png");
  left: 99%;
  position: relative;
  color: #ccc;
  top: -22px;
}

div.nav-tabs.nav-fill a.nav-item.active:after {
  content: url("../img/active-arrow.png");
  left: 99%;
  position: relative;
  color: #000;
  top: -22px;
}

.border-left-1 {
  border-left: 4px solid #219653 !important;
}
.border-left-2 {
  border-left: 4px solid #f2c94d !important;
}
.border-left-3 {
  border-left: 4px solid #55cdf2 !important;
}
.border-left-4 {
  border-left: 4px solid #ba6bd8 !important;
}

.background-fff {
  background: #fff;
  padding-right: 0;
}
.height-100 {
  height: 100%;
}
.search-input {
  padding: 15px 5px;
  box-shadow: none;
  border: 1px solid #efefef;
  width: 100%;
}

footer {
  background: #fff;
  width: 100%;
}

footer p {
  color: #838181;
  text-align: center;
  font-size: 12px;
}
.rengoo-logo {
  width: 150px;
  margin: 25px;
}
.h-1 {
  padding: 12px;
  padding-left: 50px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.color-h {
  background: #219652;
}
.color-h1 {
  background: #f2c94d;
}
.color-h2 {
  background: #55cdf2;
}
.color-h3 {
  background: #bb6bd9;
}
.padding-0 {
  padding: 0 !important;
}
.background-white {
  margin: 30px 20px;
  background: #fff;
  padding: 50px 50px;
}
.img-cons {
  width: 75px;
}
.cons-h {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.cons-h4 {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: -10px;
}
.span-h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.cons-p {
  font-size: 12px;
  font-weight: 400;
  padding-right: 30%;
}

thead {
  background: #6c6d6f;
}
thead th {
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  border-bottom: 2px solid #e9ecef;
  font-size: 12px;
  font-weight: 500;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #fdfdfd;
}
table > tbody > tr > td {
  color: #6c6d6e;
  font-size: 12px;
}
.btn-end-contract {
  background: #f40b21;
  font-size: 12px;
  font-weight: 600;
  border-radius: 22px;
  padding: 5px 22px;
}
.btn-red-border {
  border: 1px solid #ff3d00;
}
.border-radius-100 {
  border-radius: 100%;
}

.width-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 11.1111% !important;
  flex: 0 0 11.1111% !important;
  max-width: 11.1111%;
}
.nav-wrapper {
  width: 300px;
  margin: 20px auto;
  text-align: left;
}

.sl-nav {
  display: inline;
}

.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center;
}

.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
}

.balance {
  margin-top: 5%;
  font-weight: 500;
}
.btn-sell {
  margin-top: 15px;
  background: #219652;
  border: 1px solid #219652;
  color: #fff;
}

.btn-sell:hover,
.btn-sell:active,
.btn-sell:focus {
  color: #fff;
  background: #219652;
  border: 1px solid #219652;
}

.btn-sell-energy {
  margin-top: 15px;
  background: #bb6bda;
  border: 1px solid #bb6bda;
  color: #fff;
}

.btn-sell-energy:hover,
.btn-sell-energy:active,
.btn-sell-energy:focus {
  color: #fff;
  background: #bb6bda;
  border: 1px solid #bb6bda;
}

.btn-energy {
  margin-top: 15px;
  background: #f2c94d;
  border: 1px solid #f2c94d;
  color: #fff;
}

.btn-energy:hover,
.btn-energy:active,
.btn-energy:focus {
  color: #fff;
  background: #f2c94d;
  border: 1px solid #f2c94d;
}

.input-table {
  border-radius: 10px;
  width: 85px;
  padding: 5px 10px;
  margin-top: -6px;
  margin-left: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(208, 208, 208, 1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(208, 208, 208, 1);
  box-shadow: 0px 0px 3px 1px rgba(208, 208, 208, 1);
}
.padding-10 {
  padding: 10px;
}
.padding-r-25per {
  padding-right: 25%;
}
.padding-r-15per {
  padding-right: 15%;
}
.consumption-chart {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}
.highcharts-exporting-group {
  display: none !important;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("../img/solar.png");
  cursor: pointer;
  background-repeat: no-repeat;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0;
  background: url("../img/solar.png");
  cursor: pointer;
  background-repeat: no-repeat;
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: none;
  margin: 0 auto;
  background-color: #cccccc;
}
.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: none;
  margin: 0 auto;
  background-color: #fff;
}

.wind-h {
  font-size: 18px;
  color: #716b6c;
  text-transform: uppercase;
  margin-top: 5px;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #34495e;
  width: 0.84em;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.img-chart {
  height: 45px;
  margin: 15px 10px;
}
.wind-text {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 18px;
}
.m-b-10-negv {
  margin-bottom: -5px;
}
.border-charts {
  border: 1px dashed #a4bfda;
  padding: 15px 10px;
  border-radius: 10px;
  margin-right: 15px;
}
.btn-bill {
  background: #00b0e2;
  font-size: 12px;
  font-weight: 600;
  border-radius: 22px;
  padding: 5px 52px;
  border: 1px solid #00b0e2;
}
.btn-bill:hover,
.btn-bill:focus,
.btn-bill:active {
  background: #00b0e2;
  font-size: 12px;
  font-weight: 600;
  border-radius: 22px;
  padding: 5px 52px;
  border: 1px solid #00b0e2;
}

/*Progress Bar Network*/
.progressbar-title {
  font-size: 15px;
  font-weight: 700;
  color: #414141;
  margin-top: 0;
  text-transform: uppercase;
}
.progress {
  height: 35px;
  background: #e8e6e5;
  margin-bottom: 20px;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
}
.progress .progress-bar {
  position: relative;
  box-shadow: none;
  animation: animate-positive 2s;
}
.progress .progress-value {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  right: 28px;
  top: 8px;
  z-index: 1;
}
.progress .progress-icon {
  background: #e8e6e5;
  border-bottom: 35px solid;
  border-right: 30px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
.p-text {
  font-size: 15px;
  font-weight: 500;
}
.img-chart2 {
  height: 90px;
  margin: 15px 10px;
}
.text-power {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 26px;
}
.label-power {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 18px;
  margin-top: -16px;
}
.border-charts2 {
  border: 1px dashed #b79d9d;
  padding: 15px 10px;
  border-radius: 10px;
  margin-right: 15px;
}
.u-profile-img {
  width: 100px;
  border-radius: 100%;
}
.fa-user-profile {
  background: #ececed;
  padding: 8px;
  border-radius: 50px;
  position: relative;
  left: 40px;
  top: -90px;
  color: #000;
}
.margin-p-img {
  margin-top: -20px;
}

/*Slider*/
.onoffswitch {
  position: relative;
  width: 57px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #54c92c;
  border-radius: 18px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "YES";
  margin-left: -8px;
  background-color: #ffffff;
  color: #54c92c;
}
.onoffswitch-inner:after {
  content: "NO";
  margin-right: 0px;
  background-color: #ffffff;
  color: #54c92c;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 6px;
  background: #54c92c;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  border: 2px solid #54c92c;
  border-radius: 18px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.user-info {
  font-size: 17px;
  font-weight: 400;
  color: #7e7e7e;
}
.power-text {
  color: #7ed65c;
}
.btn-edit {
  padding: 10px 80px;
  background: #535050;
  border: 1px solid #c6c6c6;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
}
.btn:focus,
.btn:hover,
.btn:active {
  outline: none !important;
}
.alertify-logs {
  position: fixed;
  z-index: 999;
}
